


.entrada{
    max-width: 80rem;
    margin: 0 auto;
  
}


.card{
    border: 1px solid  var(--primary);
    border-radius: 0px 0px 10px 10px;
}

.contenido{
  
    padding : 1rem;
    
}


.contenido h3{
    text-align: center;
    font-weight: 400;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
}

.fecha{
    text-align: center;
    font-size: 1.6rem;
    color: var(--primary)
}


.resumen{
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 4;
    overflow: hidden;
}


.enlace{
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;
    transition-property: background-color;
    transition-duration: .3s;

}

.enlace:hover{
    background-color: var(--primary);
    color: var(--blanco);
    border-radius: 10px;
}


.texto{
    text-align: justify;
    white-space: pre-wrap;
}